<h3>
  category-form works!
</h3>
<form [formGroup]="formGroup" (submit)="submit()" >
    <select matSelect formControlName="ParentID">
      <option>Please select the parent</option>
      <option *ngFor="let category of categories" [value]="category.CategoryID" >{{category.CategoryName}}</option>
    </select>
    <mat-error *ngFor="let errorKey of ['required', 'custom']" >{{getError('ParentID', errorKey)}}</mat-error>
  <mat-form-field>
    <input matInput type="text" formControlName="CategoryName">
    <mat-error *ngFor="let errorKey of ['required', 'custom']" >{{getError('CategoryName', errorKey)}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput type="text" formControlName="Descriptions"></textarea>
    <mat-error *ngFor="let errorKey of ['required', 'custom']" >{{getError('Descriptions', errorKey)}}</mat-error>
  </mat-form-field>
  <div class="file-input">
    <input [style.display]="'none'" type="file" formControlName="Picture" #picture (change)="pictureChange(picture)" accept=".jpg,.png,.jpeg" >
    <button mat-raised-button type="button" (click)="picture.click()">Choise file</button>
    <mat-label>{{picture?.files[0]?.name}}</mat-label>
    <mat-error *ngFor="let errorKey of ['required', 'custom']" >{{getError('Picture', errorKey)}}</mat-error>
  </div>
  <button mat-raised-button type="submit" [disabled]="!formGroup.valid" color="primary">Submit</button>
</form>
