<h3>
  category-form works!
</h3>
<form [formGroup]="formGroup" (submit)="submit()" >
  <mat-form-field>
    <input matInput type="text" formControlName="CategoryName">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput type="text" formControlName="Descriptions"></textarea>
  </mat-form-field>
  <div class="file-input">
    <input [style.display]="'none'" type="file" formControlName="Picture" #picture (change)="pictureChange(picture)" accept=".jpg,.png,.jpeg" >
    <button mat-raised-button type="button" (click)="picture.click()">Choise file</button>
    <mat-label>{{picture?.files[0]?.name}}</mat-label>
  </div>
  <button mat-raised-button type="submit" [disabled]="!formGroup.valid" color="primary">Submit</button>
</form>
