<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Dictionary form</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="formGroup" (submit)="submit()">
  <div class="modal-body">
    <div class="form-group">
        <label for="excel">Upload dictionary excel</label>
        <input
          type="file"
          class="form-control"
          id="excel"
          #excel
          (change)="onFileSelect(excel)"
          formControlName="DictionaryFile"
          accept=".xlsx,.xls"
        />
        <p class="error" *ngFor="let errorKey of ['required', 'custom']">
            {{ getError('DictionaryFile', errorKey) }}
          </p>
      </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      id="modal-close"
    >
      Close
    </button>
    <button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">
      Save changes
    </button>
  </div>
</form>
