<div class="container">
  <app-navbar title="Dictionaries"></app-navbar>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" (click)="openForm()">
          <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">All dictionaries</h4>
          <div class="table-responsive">
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dictionaries" matSort>
                <!-- Position Column -->
                <ng-container matColumnDef="DictionaryKey">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Key
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.DictionaryKey }}
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="DictionaryValue">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    DictionaryValue
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.DictionaryValue }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Actions">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <i
                      class="material-icons clickable"
                      (click)="editDictionary(element)"
                      >create</i
                    >
                    <i
                      class="material-icons clickable"
                      (click)="deleteDictionary(element)"
                      >delete</i
                    >
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>

              <mat-paginator
                [pageSizeOptions]="[2, 10]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button
  id="edit-btn"
  type="button"
  data-toggle="modal"
  data-target=".dictionary-form"
  [hidden]="true"
>
  Large modal
</button>
<div
  class="modal fade dictionary-form"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <app-dictionary-form
        *ngIf="dictionary"
        [(value)]="dictionary"
        (valueChange)="submited($event)"
        [errors]="errors"
      ></app-dictionary-form>
    </div>
  </div>
</div>
