<div class="container">
  <div class="background"></div>
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
    <div class="row register-panel">
      <div class="col-md-8 col-md-offset-2">
        <div class="card">
          <h2>Register</h2>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <form
                [formGroup]="registerForm"
                (ngSubmit)="register(registerForm.value)"
                autocomplete="off"
              >
                <div class="form-part">
                  <div class="row">
                    <i class="material-icons">face</i>
                    <mat-form-field color="accent" class="full-width">
                      <input
                        type="text"
                        name="name"
                        matInput
                        placeholder="Name"
                        formControlName="name"
                      />
                      <mat-error *ngIf="hasError('name', 'required')">
                        *Sorry, we didn't quite catch your name
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <i class="material-icons">email</i>
                    <mat-form-field color="accent" class="full-width">
                      <input
                        type="text"
                        name="email"
                        matInput
                        placeholder="Email"
                        formControlName="email"
                      />
                      <mat-error *ngIf="hasError('email', 'required')">
                        *Please enter your email address to create an account
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <i class="material-icons">lock_outline</i>
                    <mat-form-field color="accent" class="full-width">
                      <input
                        type="password"
                        name="password"
                        matInput
                        placeholder="Password"
                        formControlName="password"
                      />
                      <mat-error *ngIf="hasError('password', 'minlength')">
                        Min character is 8
                      </mat-error>
                      <mat-error *ngIf="hasError('password', 'required')">
                        Password is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <mat-checkbox
                      style="margin-left: 2px"
                      formControlName="optin"
                    >
                      <p style="margin-left: 8px">
                        I agree to the
                        <span
                          style="color: #9c27b0; cursor: pointer; font-weight: 400;"
                          >terms and conditions</span
                        >.
                      </p>
                    </mat-checkbox>
                  </div>
                  <div
                    class="row"
                    style="display: flex; justify-content: center"
                  >
                    <button
                      type="submit"
                      mat-raised-button
                      class="btn btn-primary btn-round"
                      [disabled]="!optin || !registerForm.valid"
                    >
                      CREATE ACCOUNT
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
