<p>
  dictionary-form works!
</p>
<form [formGroup]="formGroup" (submit)="submit()" >
  <mat-form-field>
    <input matInput type="text" formControlName="DictionaryKey" placeholder="DictionaryKey">
    <mat-error *ngFor="let errorKey of ['required', 'custom']" >{{getError('DictionaryKey', errorKey)}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" formControlName="DictionaryValue" placeholder="DictionaryValue">
    <mat-error *ngFor="let errorKey of ['required', 'custom']" >{{getError('DictionaryValue', errorKey)}}</mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="!formGroup.valid" color="primary">Submit</button>
</form>
