<!-- <p>
  dictionary-form works!
</p>
<form [formGroup]="formGroup" (submit)="submit()">
  <mat-form-field>
    <input
      matInput
      type="text"
      formControlName="DictionaryKey"
      placeholder="DictionaryKey"
    />
    <mat-error *ngFor="let errorKey of ['required', 'custom']">{{
      getError('DictionaryKey', errorKey)
    }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="text"
      formControlName="DictionaryValue"
      placeholder="DictionaryValue"
    />
    <mat-error *ngFor="let errorKey of ['required', 'custom']">{{
      getError('DictionaryValue', errorKey)
    }}</mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    type="submit"
    [disabled]="!formGroup.valid"
    color="primary"
  >
    Submit
  </button>
</form> -->

<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Dictionary form</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="formGroup" (submit)="submit()">
  <div class="modal-body">
    <div class="form-group">
      <label for="DictionaryKey">Key</label>
      <input
        type="text"
        class="form-control"
        id="DictionaryKey"
        placeholder="Key of dictionary"
        formControlName="DictionaryKey"
      />
      <p class="error"*ngFor="let errorKey of ['required', 'custom']">{{
          getError('DictionaryKey', errorKey)
        }}</p>
    </div>
    <div class="form-group">
      <label for="DictionaryValue">Value</label>
      <textarea
        class="form-control"
        id="DictionaryValue"
        rows="3"
        formControlName="DictionaryValue"
      ></textarea>
      <p class="error" *ngFor="let errorKey of ['required', 'custom']">{{
          getError('DictionaryValue', errorKey)
        }}</p>
    </div>
    <!-- <div class="form-group">
      <label for="picture">Upload dictionary picture</label>
      <input
        type="file"
        class="form-control"
        id="picture"
        (change)="onFileSelect($event)"
      />
    </div> -->
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-dismiss="modal"
      id="modal-close"
    >
      Close
    </button>
    <button type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">
      Save changes
    </button>
  </div>
</form>
